.home {
  background-color: #1b1b1f;
}

.heroSection {
  background-image: url(../../images/smoke.png), url(../../images/background_car.png);

  background-repeat: no-repeat;
  background-size: cover, 800px;
  background-position-x: 0, center;
  background-position-y: 0, 200px;
  height: 100vh;
}
