@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.section {
  margin-top: 20px;
  margin-bottom: 50px;
}

.filterForm {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: flex-end;
}

.filterInputs {
  display: flex;
  gap: 18px;
}
 
.select {
  width: 224px;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(20 / 18);
  margin-top: 8px;

  &::placeholder {
    color: $primery-dark-text-color;
  }
}

.selectPrice {
  width: 125px;
}

.filterLabel {
  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
}

.inputsWrapper {
  display: flex;
}

.inputMileage {
  position: relative;
}

.mileageInputLabel {
  color: $secondary-dark-color;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(20 / 18);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  z-index: 2;
}

.mileageInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.miliageInput {
  position: relative;
  padding: 14px 0;
  padding-left: 24px;
  border: none;
  color: $primery-dark-text-color;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(20 / 18);
  width: 160px;
  background-color: $input-color;
  border-radius: 14px 0px 0px 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  padding-left: 70px;
}

.miliageInputTo {
  border-radius: 0px 14px 14px 0px;
  padding-left: 60px;
}

.searchButton {
  background-color: $light-accent-color;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(20 / 14);
  padding: 14px 44px;
  @include animation (background-color);

  &:hover,
  &:focus,
  &:active {
    background-color: $dark-accent-color;
  }
}
