$primery-dark-text-color: #121417;
$primery-light-text-color: #f9f7ec;
$light-accent-color: #3470FF;
$dark-accent-color: #0B44CD;
$secondary-dark-color: rgba(18, 20, 23, 0.50);
$secondary-light-color: #a9a9a98f;
$dark-background-color: #0e0e0f;
$items-background-color: #F9F9F9;
$input-color: #F7F7FB;