@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary-dark-color;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  color: $primery-dark-text-color;
  @include animation (opacity);

  &.open {
    opacity: 1;
  }
}

.modal {
  position: relative;
  background-color: #fff;
  top: 50%;
  left: 50%;
  //   transform: translate(-50%, -50%);
  width: 541px;
  padding: 40px;
  border-radius: 24px;
  max-height: 95vh;
  overflow: scroll;
  cursor: default;
  transform: translate(-50%, -50%) scale(0.2);
  @include animation (transform);

  .backdrop.open & {
    transform: translate(-50%, -50%) scale(1);
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  border: transparent;
  background-color: transparent;
}

.closeButtonIcon {
  color: $primery-dark-text-color;
  @include animation (color);

  &:hover,
  &:focus {
    color: $dark-accent-color;
  }
}

.carImg {
  height: 248px;
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.carTitle {
  margin-top: 14px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(24 / 18);

  & span {
    color: $light-accent-color;
  }
}

.extraInfoText {
  color: $secondary-dark-color;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(18 / 12);
}

.carDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20 / 14);
  margin-top: 14px;
}

.carSybTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14);
  margin-top: 24px;
  margin-bottom: 8px;
}

.conditionsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.conditionsItem {
  padding: 7px 14px;
  border-radius: 35px;
  background-color: $items-background-color;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(18 / 12);

  & span {
    color: $light-accent-color;
    font-weight: 600;
  }
}

.rentalButton {
  display: inline-block;
  background: $light-accent-color;
  color: #fff;
  border-radius: 12px;
  border-color: transparent;
  padding: 12px 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: calc(20 / 14);
  margin-top: 24px;
  @include animation (background-color);

  &:hover {
    background-color: $dark-accent-color;
  }
}
